@model IEnumerable<Amigos.Models.Amigo>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Nombre"]
            </th>
            <th>
                @Localizer["Longitud"]
            </th>
            <th>
                @Localizer["Latitud"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lati)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Editar"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Detalles"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Eliminar"]</a>
</td>
            </tr>
        }
    </tbody>
</table>
